# Xray
XRAY_CONFIG=/opt/node-plane-runtime/xray/config.json
XRAY_CONTAINER_NAME=xray
XRAY_DOCKER_DIR=/opt/node-plane-runtime/xray
XRAY_DOCKER_IMAGE=ghcr.io/xtls/xray-core:25.12.8
XRAY_INBOUND_TCP_TAG=reality-tcp
XRAY_INBOUND_XHTTP_TAG=reality-xhttp

# AWG / AmneziaWG
AWG_CONTAINER_NAME=amnezia-awg
AWG_DOCKER_DIR=/opt/node-plane-runtime/amnezia-awg
AWG_DOCKER_IMAGE=node-plane-amnezia-awg:0.2.16
AWG_IFACE=wg0
AWG_CONFIG=/opt/node-plane-runtime/amnezia-awg/data/wg0.conf
AWG_SERVER_ADDRESS=10.8.1.0/24
AWG_NETWORK=10.8.1.0/24
AWG_DNS=1.1.1.1
AWG_MTU=1280
AWG_ALLOWED_IPS=0.0.0.0/0
AWG_KEEPALIVE=25
AWG_I1_PRESET=quic
